* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #f9faf6;
    background-image: url("background.png");
    background-size: 30px;
    -webkit-animation: 100s scroll infinite linear;
    -moz-animation: 100s scroll infinite linear;
    -o-animation: 100s scroll infinite linear;
    -ms-animation: 100s scroll infinite linear;
    animation: 100s scroll infinite linear;
}
#textbox {
    background-color: #f9faf6;
    position: fixed;
    width: 60%;
    height: 35%;
    border-radius: 20px;
}
h1 {
    margin-top: 10px;
    text-align: center;
    font-family: Roboto, sans-serif;
}
hr {
    margin: 5px 20px 50px 20px;
    border-style: solid;
    height: 1px;
}
p {
    text-align: center;
    font-family: Poppins, sans-serif;
}
/* Animation */
@-webkit-keyframes scroll{
    100%{
        background-position:0px 3000px;
    }
}
@-moz-keyframes scroll{
    100%{
        background-position:0px 3000px;
    }
}
@-o-keyframes scroll{
    100%{
        background-position:0px 3000px;
    }
}
@-ms-keyframes scroll{
    100%{
        background-position:0px 3000px;
    }
}
@keyframes scroll{
    100%{
        background-position:0px 3000px;
    }
}