html, body {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Jost';
    color: white;
}

ul.a {
    list-style-type: none;
    font-family: 'Jost';
    font-size: 1.25em;
    color: white;
    margin: 20px 20px;
}

ul.b {
    list-style-type: disc;
    margin-top: 20px;
}

ul.c {
    list-style-type: circle;
}

#menu {
    position: relative;
    width: 100%;
    height: 100px;
    background: #3f3f3f;
    color: white;
    line-height: 50px;
    text-decoration: none;
    padding-bottom: 35%;
    background-clip: content-box;
    overflow: hidden;
}

#menu::after {
    content: "";
    position: absolute;
    top: 100px;
    left: -7.5%;
    background-color: inherit;
    padding-bottom: 100px;
    width: 150%;
    z-index: -1;
    transform-origin: 0 0;
    box-shadow: 0px 5px 16px -4px #272626;
    transform: rotate(-2deg) skewX(2deg);
}

#menu-name {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 0 10px;
    margin-block-start: 0;
    margin-block-end: 0;
    border: 2px solid #ce723b;
    text-align: center;
    line-height: 1.5em;
    font-family: 'Bodoni 72';
    font-weight: 900;
    font-size: 3em;
    text-transform: uppercase;
}

#menu-buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    left: 240px;
    top: 20px;
    width: 40%;
    height: 125px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    color: white;
    background-color: #3f3f3f;
    border: none;
    height: 50px;
    width: 110px;
    font-family: 'Jost';
    font-size: 1.25em;
    text-align: center;
    border-bottom: 2px solid #1e1e1e;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover button {
    border-bottom: 2px solid #10abd8;
}

#background-video {
    position: absolute;
    top: 0;
    bottom: -50%;
    z-index: -10;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

#video-src {
    position: absolute;
    top: 10%;
    width: 100%;
}

.title {
    margin: 20px;
    display: inline;
    padding: 0 10px;
    line-height: 2em;
    color: white;
    border: 2px solid #ce723b;
    font-family: 'Jost';
    font-size: 2em;
    font-weight: normal;
}

#portfolio {
    position: relative;
    padding-top: 250px;
    width: 100%;
    background-color: #3f3f3f;
    background-clip: content-box;
    overflow: hidden;
}

#portfolio::before {
    content: "";
    position: absolute;
    top: 160px;
    left: -150px;
    background-color: #3f3f3f;
    padding-top: 250px;
    border-top: 2px solid #ce723b;
    width: 150%;
    z-index: -1;
    transform: rotate(7deg) skewX(-7deg);
}

#arrows {
    display: inline;
}

#slideshow-frame {
    max-width: 1000px;
    display: relative;
    width: 70%;
    margin: auto;
}

.frame {
    display: none;
}

.frame > a > button {
    display: inline-block;
    margin: 0px 0px 20px 0px;
    background-color: #3f3f3f;
    font-size: 2em;
    width: auto;
}

#prev, #next {
    display: inline-block;
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 0 0 3px;
}

#next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

#prev:hover, #next:hover {
    background-color: #1e1e1e;
}

.frame-content {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photo {
    width: 50%;
    border-radius: 6px;
}

.frame-content > p {
    max-width: 40%;
    margin-block-start: 0;
    font-size: 1.25em;
}

#portfolio-cover {
    position: absolute;
    margin-top: -1px;
    z-index: -2;
    height: 500px;
    width: 100%;
    background-color: #3f3f3f;
}

#about {
    position: relative;
    padding-top: 250px;
    width: 100%;
    background-color: #1e1e1e;
    background-clip: content-box;
    overflow: hidden;
}

#about::before {
    content: "";
    position: absolute;
    top: 160px;
    left: -150px;
    background-color: #1e1e1e;
    border-top: 2px solid #ce723b;
    padding-top: 250px;
    width: 150%;
    z-index: -1;
    transform: rotate(7deg) skewX(-7deg);
}

#about-content {
    display: flex;
    flex-direction: row;
}

.list-header {
    font-size: 1.5em;
}

#about-cover {
    position: absolute;
    margin-top: -1px;
    z-index: -2;
    height: 500px;
    width: 100%;
    background-color: #1e1e1e;
}

#contact {
    position: relative;
    padding-top: 250px;
    width: 100%;
    background-color: #3f3f3f;
    background-clip: content-box;
    overflow: hidden;
}

#contact::before {
    content: "";
    position: absolute;
    top: 160px;
    left: -150px;
    background-color: #3f3f3f;
    padding-top: 250px;
    border-top: 2px solid #ce723b;
    width: 150%;
    z-index: -1;
    transform: rotate(7deg) skewX(-7deg);
}

#contact > p {
    color: white;
    margin: 70px auto 200px auto;
    padding: 0 20px;
    width: 75%;
}

#error-message {
    display: inline-block;
    color: #10abd8;
    font-family: 'Jost';
    opacity: 1;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
    width: 70%;
    margin: 20px;
    overflow: auto;
}

#contact-form {
    display: block;
    height: 100%;
    width: 70%;
    margin: auto;
}

#name {
    margin-top: 10px;
}

input {
    display: inline-block;
    width: 100%;
    margin: 0 0 20px 0;
}

textarea {
    display: inline-block;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

#submitBtn {
    display: block;
    width: 50%;
    margin: 0 auto 50px auto;
    border: 2px solid #10abd8;
}

#submitBtn:hover {
    border: 2px solid #ce723b;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    #video-src {
        top: 20%;
    }
    .photo {
        width: 100%;
    }
    .frame-content {
        flex-direction: column;
    }
    .frame-content > p {
        margin-block-start: 10px;
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    #video-src {
        top: 20%;
    }
    .photo {
        width: 75%;
    }
}

@media only screen and (min-width: 800px) {
    #video-src {
        top: 15%;
    }
    #contact-form {
        width: 50%;
    }
}

@media only screen and (max-width: 1000px) {
    #about-content {
        flex-direction: column;
    }
}

@media only screen and (min-width: 1000px) {
    #video-src {
        top: 10%;
    }
}

@media only screen and (min-width: 1200px) {
    #courses {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}

@media only screen and (min-width: 1400px) {
    #video-src {
        top: 5%;
    }
 }